
.registerbtn{
    background-color:#4CAF50;
    color:white;
    padding:16px 20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
    width:10%;
    opacity:0.9;
}
.container{
    padding:16px;
    background-color: rgb(160, 160, 153);
    width: 800px;
    
}
.headstyle{
    font-family: fantasy;
}
.formalign{
    background-color: whitesmoke;
}