
.registerbtn{
    background-color:#4CAF50;
    color:white;
    padding:16px 20px;
    margin:8px 0;
    border:;
    cursor:pointer;
    width:10%;
    opacity:0.9;
}
#h1{
    text-align: center;
}

.headstyle{
    font-family: fantasy;
}
.container{
    background-color: thistle;

}