

#h1{
    text-align: center;
}

.headstyle{
    font-family: fantasy;
}
.form{
    margin-left: 50px;
}

.container{
    background-color:darkgray;
    width: 500px;
    margin: 0px 0px 0px 430px;
    padding: 20px;
    border-radius: 100px;
    border-color: black;
    font-size: 18px;
}
.label{
    font-size: 18px;
    color:white;

}